<div style='font-family:Helvetica,Arial,sans-serif; min-width:500px; overflow:auto; line-height:2'>
    <div style='margin:50px auto; width:70%; padding:20px 0'>
        <div style='border-bottom:1px solid #eee'>
            <a style='font-size:1.4em; color:#303f9f; text-decoration:none; font-weight:600'>Đồ_Án_Project</a>
        </div>
        <p style='font-size:1.1em'>Chào bạn,</p>
        <p>Hệ thống đã nhận được yêu cầu đặt lại mật khẩu của bạn. Vui lòng nhập mã OTP dưới đây để tiếp tục. Lưu ý, mã OTP chỉ có hiệu lực trong 5 phút. Nếu đây không phải là yêu cầu của bạn, xin vui lòng bỏ qua email này.</p>
        <h2 style='background:#303f9f; margin:0 auto; width:max-content; padding:0 10px; color:#fff; border-radius:4px; '>OTP_CODE</h2>
        <p style='font-size:0.9em;'>Trân trọng,<br />Đồ_Án_Project Development Team</p>
        <hr style='border:none; border-top:1px solid #eee' />
        <div style='float:right; padding:8px 0; color:#aaa; font-size:0.8em; line-height:1; font-weight:300'>
            <p align='right'>Đồ_Án_Project - IT008.N11.PMCL</p>
            <p>Trường Đại học Công nghệ Thông tin - ĐHQG TP.HCM</p>
        </div>
    </div>
</div>
